.DS_Store
*.ipynb_checkpoints
src/___pycache__/
*.pyc
__pycache__/
scripts/cache
src/cache
.vscode/settings.json

data/OSM/
data/REFERENCE/cph_geodk/processed

results/OSM/cph_geodk/data/
results/REFERENCE/cph_geodk/data/
results/COMPARE/cph_geodk/data/

exports/cph_geodk/pdf/1a.pdf
exports/cph_geodk/pdf/1b.pdf
exports/cph_geodk/pdf/2a.pdf
exports/cph_geodk/pdf/2b.pdf
exports/cph_geodk/pdf/3a.html
exports/cph_geodk/pdf/preamble.pdf
exports/cph_geodk/pdf/titlepage.pdf
exports/cph_geodk/pdf/3a.pdf
exports/cph_geodk/pdf/3b.pdf
exports/cph_geodk/pdf/appendix_a.pdf
exports/cph_geodk/pdf/report_lowres.pdf


