@page {   
    margin: 1.1in 0.5in 1.1in 0.6in;
    padding: 0;   
    size: A4 landscape;
    text-align: justify;
    text-justify: inter-word;
}

.htmlfooter-wrapper {
  display: grid;
  width: calc(100% - 1.34in);
  margin-left: 0.67in;
  margin-bottom: 0.3in;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.25in;
  color:#182026;
  font-family:-apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", "Icons16", sans-serif;
  font-size: 8px;
  color: #182026;
}

.htmlfooter-left {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  text-align: left;
}

.htmlfooter-center {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
}

.htmlfooter-right {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  text-align: right;
}

.htmlheader-wrapper {
    display: grid;
    width: calc(100% - 1.34in);
    margin-left: 0.67in;
    margin-top: 0.3in;
    grid-template-columns: 1fr 1fr;
    gap: 0.125in;
    border-bottom: 0.5px solid #182026;
    color:#182026;
    font-family:-apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", "Icons16", sans-serif;
    font-size: 8px;
    color: #182026;
}
  
.htmlheader-left {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: left;
    vertical-align: top;
    overflow: visible;
}
  
.htmlheader-right {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: right;
}