<!-- Inspired by: https://github.com/microsoft/playwright/issues/14441#issuecomment-1259718342 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <style>
        [footerheader_template]
    </style>
  </head>
  <body>
    <div class="htmlfooter-wrapper">
        <div class="htmlfooter-left">
            <span>
                <a href="https://github.com/anerv/BikeDNA" style="color: #182026; text-decoration: none;">BikeDNA</a> Report
            </span>
        </div>
        <div class="htmlfooter-center">
            <span>
            </span>
        </div>
        <div class="htmlfooter-right">
            <!-- <span class="pageNumber"></span>-->
        </div>
    </div>
  </body>
</html>